/* common style */
header{
  font-family: 'Merriweather', serif;
}
/* header section Style */
.font{
  color: #fff;
  position:absolute;
  text-align:center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.fonts1{
  font-size: 32px;
}
.fonts2{
  font-size: 72px;
  max-width: 635px;
}
div >ul {
  list-style: none;
  text-align: center;
}
.background{
  position: relative;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  display: block;
  margin: auto;
  flex-shrink: 0;
  margin-top: 50px;
  overflow: hidden;
  border-radius: 16px;
}
main{
  font-family: 'Inter', sans-serif;
}
.off{
  color: #F00;
  text-align: center;
  font-size: 80px;
  margin: 0;
  padding-top: 80px;
}
.deals{
  color: #F00;
  text-align: center;
  margin: 0;
  font-size: 20px;
  padding-top: 16px;
}
.catagory{
  color: #070211;
  margin: 0;
  text-align: center;
  font-size: 40px;
  padding-top: 6px;
}
.new img{
  padding-top: 20px;
  padding-bottom: 30px;
  margin:0 auto;
  display: block;
}
.midnight{
  color: #fff;
  position:absolute;
  text-align: left;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.midphoto{
  display: flex;
  justify-content: space-between;
  padding-top: 68px;
}
.mid{
  background-image: url('../photo/Vectorrr.png');
  max-width: 1320px;
  height: 600px;
  padding: 126px;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
.mid-discription{
  max-width: 697px;
}
.btn{
  border-radius: 5px;
  background:#f8a26da1;
  border: 0;
  color: antiquewhite;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 30px;
}
.btn:hover{
  opacity: 0.7;
}
/* place section */
.place{
  background-color: rgb(255, 218, 189);
  text-align: center;
  margin: 0 auto;
  max-width: 1080px;
  border-radius: 16px;
  flex-shrink: 0;
  padding: 120px;
}
.pdt{
  color: #F00;
  gap: 10px;
}
.btn2{
  border-radius: 5px;
  background:#F00;
  border: 0;
  color: antiquewhite;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 30px;
  margin-top: 10px;
}
.btn2:hover{
  opacity: 0.7;
}
.gifts{
  color: #F00;
  padding-top: 50px;
}
.port-dis{
   max-width: 896px;
   padding-bottom: 20px;
}
.portfolio{
  color: #070211;
  margin: 0;
  font-size: 40px;
  padding-top: 6px;
}
.images{
  display: flex;
  flex-wrap: wrap;
  columns: 3; 
  column-gap: 5px;
  row-gap: 5px;
  margin-bottom: 120px; 
}
.imgs:hover{
  opacity: 0.7;
}
.awsm{
  padding-left: 100px;
}
.subscribe{
  color: #070211;
  margin: 0;
  font-size: 40px;
  padding-top: 6px;
}
#btn-sub{
  border-radius: 0px 50px 50px 0px;
  background: #F00;
  padding: 15px 30px;
  color: #fff;
  font-weight: 400;
  border: 0;
}
.news{
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
#btn-sub:hover{
   opacity: 0.7;
}
#input-e{
  border-radius: 50px 0px 0px 50px;
  background: rgb(255, 255, 255);
  padding: 15px 30px;
  border: 0;
}
/* footer section */
.foot{
  background-color: #070211;
  margin: 120px auto 20px;
  padding-bottom: 20px;
  width: 1600px;
  
}
.foot-top{
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding-top: 68px;
  list-style-type: none;
  max-width: 900px;
}
.phn-web{
  list-style-type: none;
}
hr{
    width: 80%;  
    height: 1px;  
    border: none; 
    background-color: #7a7777;
    margin-top: 30px; 
    margin-bottom: 30px; 
}
.foot-img{
  display: flex;
  gap: 15px;
  margin: 0 auto;
}