/* common style */
header{
  font-family: 'Merriweather', serif;
}
/* header section Style */
.font{
  color: #fff;
  position:absolute;
  text-align:center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.fonts1{
  font-size: 32px;
}
.fonts2{
  font-size: 72px;
  max-width: 635px;
}
div >ul {
  list-style: none;
  text-align: center;
}
.background{
  position: relative;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  display: block;
  margin: auto;
  flex-shrink: 0;
  margin-top: 50px;
  overflow: hidden;
  border-radius: 16px;
}
main{
  font-family: 'Inter', sans-serif;
}
.off{
  color: #F00;
  text-align: center;
  font-size: 80px;
  margin: 0;
  padding-top: 80px;
}
.deals{
  color: #F00;
  text-align: center;
  margin: 0;
  font-size: 20px;
  padding-top: 16px;
}
.catagory{
  color: #070211;
  margin: 0;
  text-align: center;
  font-size: 40px;
  padding-top: 6px;
}
.new img{
  padding-top: 20px;
  padding-bottom: 30px;
  margin:0 auto;
  display: block;
}
.midnight{
  color: #fff;
  position:absolute;
  text-align: left;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.midphoto{
  display: flex;
  justify-content: space-between;
  padding-top: 68px;
}
.mid{
  background-image: url('../photo/Vectorrr.png');
  max-width: 1320px;
  height: 600px;
  padding: 126px;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  
}
.mid-discription{
  max-width: 697px;
}
.btn{
  border-radius: 5px;
  background:#f8a26da1;
  border: 0;
  color: antiquewhite;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 30px;
}
/* place section */
.place{
  background-color: rgb(255, 218, 189);
  margin-top: 0;
}